/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --main-font-weight: 400;
    --bold-font-weight: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --font-color: #000;
    --button-color: #fff;
    --contour-color: #000;
    --fill-color: #ff0000;
    --bg-gradient: 
        repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px),
        repeating-linear-gradient(
        to bottom,
        #d3d3d3 0 2px,
        transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
}